.accordion {
            width: 100%;
            .accordionItem {
                button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 16px;
                    width: 100%;
                    background-color: #0000;
                    border: none;
                    border-top: 1px solid #0002;
                    font-size: 24px;
                    color: #212529;
                }

                button:focus {
                    z-index: 3;
                    border-color: #86b7fe;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                }

                .content {
                    width: 100%;
                    transition: all 0.2s ease-in-out;
                    padding: 32px 16px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    p {
                        letter-spacing: 2px;
                        line-height: 32px;
                    }
                    a {
                        color: #666;
                        line-height: 32px;
                        padding-left: 12px;
                    }
                    a:hover {
                        background-color: #e4e4e4;
                    }
                }
            }

            .show {
                button {
                    color: #0c63e4;
                    background-color: #e7f1ff;
                    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
                }

                button::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    transform: rotate(-180deg);
                }
            }
        }

        button::after {
            width: 1.25rem;
            height: 1.25rem;
            content: " ";
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 1.25rem;
            transition: transform 0.2s ease-in-out;
        }