/* 重置所有元素的邊距和盒模型 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* 設定基本頁面樣式 */
body {
    width: 100%;
    font-family: "Arial", "Noto Sans TC", sans-serif;
    background: white url("./img/bg.png");
    color: #000000;
}

.main h2 {
    font-size: 40px;
    color: #52867E;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 導航欄和頁尾共用的固定定位樣式 */
header {
    top: 0;
    width: 100%;
    height: 96px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 4px 10px #4B4B4B4B;
}

header .logo img {
    width: 101.78px;
    height: 64;
}

header nav {
    width: 680px;
    /* display: none; */
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul a {
    color: #52867E;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
header nav ul a:hover {
    color: #008CEB;
}

header .icons {
    margin-right: 32px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    /* display: none; */
}
header .icons a{
    transition: all 0.25s ease;
}
header .icons a:hover {
    transform: translate(0,-4px);
}

header .icons .cartIcon {
    position: relative;
}

header .icons .cartIcon .cartNumber {
    position: absolute;
    top: -8px;
    left: 22px;
    background-color: #FE3372;
    padding: 2px 8px;
    color: #fff;
    border-radius: 16px;
    display: none;
}
header .icons .cartIcon .cartNumber.show {
    display: block;
}

.animate {
    animation: cartIconAnimation 0.5s ease-out;
}

/* checkbox */
.menu-switch {
    display: none;
}
.backdrop, .hb {
    display: none;
}
        

.banner {
    height: 536px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/banner.jpg) center / cover;

    .title {
        height: 143px;
        color: #114E13;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translate(0, 96px);

        h1 {
            font-size: 64px;
        }

        h2 {
            font-size: 32px;
        }
    }

}


footer {
    position: relative;
    height: 298px;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: #52867E;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .outer {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer .info {
    height: 124px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 2px;
}

footer .tag {
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer .tag a {
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

footer .icons .icon {
    margin: 12px;
}

@media screen and (max-width: 1024px) {

    .hb {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .hb .bar {
        display: block;
        width: 80%;
        height: 4px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #111;
    }
    .bar1 {
        top: 6px;
        transition: top .25s .25s ,rotate .25s 0s;
    }
    .bar2 {
        top: 18px;
        transition: rotate .25s 0s;
    }
    .bar3 {
        top: 30px;
        transition: top .25s .25s ,rotate .25s 0s;
    }

    header:has(.menu-switch:checked) .bar1 {
        top:18px;
        rotate: 45deg;
        transition: top .25s 0s ,rotate .25s .25s;
    }
    header:has(.menu-switch:checked) .bar2 {
        rotate: 45deg;
        transition: rotate .25s .25s;
    }
    header:has(.menu-switch:checked) .bar3 {
        top:18px;
        rotate: -45deg;
        transition: top .25s 0s ,rotate .25s .25s;
    }


    .navList {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #222e;
        width: 80%;
        height: calc(100svh - 96px);
        transition: right .7s;
        z-index: 999999999;
    }
    .navList ul {
        flex-direction: column;
    }
    .navList ul li {
        border-bottom: 1px solid #fff;
    }
    .navList ul li a {
        display: block;
        padding: 16px;
        font-size: 24px;
        color: #fff;
        text-align: center;
    }
    header:has(.menu-switch:checked) .navList {
        right: 0;
    }

    header .icons {
        margin-left: auto;
        margin-right: 16px;
        width: 100px;
    }
    header:has(.menu-switch:checked) .backdrop {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    height: calc(100svh - 96px);
    width: 100vw;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    }

    footer .outer {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    footer {
        height: auto;
        padding: 16px 0;
    }
    footer .outer {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}


@keyframes cartIconAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}